body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid #b9936c;
    padding: 25px;
    background-color: #e6e2d3;
}

.display {
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 3px #b9936c solid;
}

#upper-display, #current-display {
    width: 300px;
    height: 30px;
    padding: 3px;
    text-align: end;
}

#upper-display {
    font-size: 28px;
    color: #594e3fe6;
}

#current-display {
    font-size: 28px;
    color: #594e3f;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    width: 325px;
    height: 375px;
}

.upper-buttons {
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.footer {
    text-align: center;
}

button {
    border-radius: 500px;
    border: 0px;
    font-size: 20px;
    text-align: center;
    color: #594e3f;
    background-color: #dac292;
}

button:active {
    background-color: #dac292a7;  
}
